<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- head é o cabeçalho da página, onde contém informações como título da janela, da aba do navegador -->
    <title>Juju Petshop - Home</title>
    <meta charset="utf-8">
    <!-- meta define a codificação de caracteres da página-->
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css">

    <meta charset="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <img src="../public/images/branding/institutional/juju_logo.png" alt="logo do petshop com gatinha">

</head>

<title>Quem somos</title>

<body>
    <nav>
        <ul>
            <li><a href="customerProducts.html">Produtos</a></li>
            <li><a href="customerServices.html">Serviços</a> </li>
            <li><a href="customerTestimonials.html">Depoimentos</a></li>
            <li><a href="customerContactUs.html">Contato</a></li>
        </ul>
    </nav>

    <section>
        <article>
            <h1>Juju Petshop - Nossa história</h1>
            <h2><i>Um lugar de carinho e amor para seu pet</i></h2>
            <img src="../public/images/branding/institutional/juju_relax.png" alt="gatinho relaxando">
            <p>Somos um casal apaixonado por gatos, e este passo é nosso sonho para cuidar e mimar esses animais tão
                especiais.</p>
            <p>Após anos de planejamento e economia, finalmente eles abriram o Juju Pet, um pet shop especializado em
                gatos.</p>
            <p>Atendemos pessoalmente cada cliente e seu bichinho. Conhecemos todos pelos seus nomes, sabemos as
                preferências de seus gatos e sempre compartilhamos dicas valiosas sobre saúde e bem-estar felino.</p>
            <p>Estamos localizados na Avenida Paulista, 2050, com estacionamento gratuito no local.</p>
        </article>
        <table>
            <tr> <!-- tr: cada linha da tabela -->
                <th>Telefone</th> <!-- th: célula do título -->
                <th>E-mail</th>
            </tr>
            <tr>
                <p>Tem dúvidas? Entre em contato!</p>
                <td>(11) 1234-5678</td>
                <td>falecom@jujupetshop.com.br</td>
            </tr>
        </table>
        <p>Ou envie uma mensagem pelo nosso <a href="customerContactUs.html">formulário de contato</a></p>
    </section>
    <br>
    <footer id="footer">
        <p>Copyright © 2023 Juju Petshop. Todos os direitos reservados.</p>
    </footer>

</body>

</html>