<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- head é o cabeçalho da página, onde contém informações como título da janela, da aba do navegador -->
    <title>Juju Petshop - Home</title>
    <meta charset="utf-8">
    <!-- meta define a codificação de caracteres da página-->
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css">

    <meta charset="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <img src="../public/images/branding/institutional/juju_logo.png" alt="logo do petshop com gatinha">

</head>

<title>Contato</title>

<body>
    <nav>
        <ul>
            <li><a href="home.html">Produtos</a></li>
            <li><a href="servicos.html">Serviços</a> </li>
            <li><a href="quem_somos.html">Quem Somos</a></li>
            <li><a href="depoimentos.html">Depoimentos</a></li>
        </ul>
    </nav>

    <section>
        <h1>Juju Petshop - Contato</h1>
        <article>
            <h2>Fale com a gente!</h2>
            <form name="Contato" id="contato">
                <label for="nome">Nome</label><br>
                <input type="text" name="nome" placeholder="Nome Completo"><br>

                <label for="nome">E-mail</label><br>
                <input type="text" name="e-mail" placeholder="nome@provedor.com.br"><br>

                <label for="endereco">Endereço</label><br>
                <textarea name="endereco" id="endereco" rows="10" cols="20"
                    placeholder="Digite seu endereço com número, bairro, cidade, estado e CEP"></textarea><br>

                <label for="telefone">Telefone</label><br>
                <input type="tel" name="telefone" placeholder="(11) 9999-9999"><br>

                <label for="mensagem">Mensagem</label><br>
                <textarea name="mensagem" id="mensagem" rows="10" cols="20"
                    placeholder="Digite sua mensagem aqui"></textarea><br>
                <input type="submit" name="enviar" value="Enviar"> <input type="reset" name="limpar" id="Limpar"><br>
            </form>
        </article>
    </section>
    <br>
    <footer id="footer">
        <p>Copyright © 2023 Juju Petshop. Todos os direitos reservados.</p>
    </footer>

</body>

</html>