<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- head é o cabeçalho da página, onde contém informações como título da janela, da aba do navegador -->
    <title>Juju Petshop - Home</title>
    <meta charset="utf-8">
    <!-- meta define a codificação de caracteres da página-->
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css">

    <meta charset="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <img src="../public/images/branding/institutional/juju_logo.png" alt="logo do petshop com gatinha">

</head>


<body>
    <header id="header">
        <nav>
            <ul>
                <li><a href="customerServices.html">Serviços</a> </li>
                <li><a href="customerAboutUs.html">Quem Somos</a></li>
                <li><a href="customerTestimonials.html">Depoimentos</a></li>
                <li><a href="customerContactUs.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main id="content">
        <h1>Home - Juju Petshop</h1>
        <!-- Hierarquias que vão até o h6, sendo h1 título principal, h2 subtítulo, etc. -->
        <p>Aqui você encontra os melhores produtos para seu gatinho!</p>
    </main>

    <section id="produtos">
        <h2>Nossos Produtos</h2>
        <div class="products-container">
            <div class="d-flex flex-row">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../public/images/products/antipulgas.jpg" alt="Antipulgas">
                    <div class="card-body">
                        <h5 class="card-title">Antipulgas</h5>
                        <p class="card-text">Antipulgas sem cheiro e não-tóxico</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../public/images/products/areia.jpg" alt="Areia">
                    <div class="card-body">
                        <h5 class="card-title">Areia</h5>
                        <p class="card-text">Areia perfeita, que reduz os odores e promove conforto para seu bichinho
                        </p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../public/images/products/catnip.jpg" alt="catnip">
                    <div class="card-body">
                        <h5 class="card-title">Catnip</h5>
                        <p class="card-text">Produto natural para estimular seu bichinho</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../public/images/products/comedouro.jpg" alt="comedouro">
                    <div class="card-body">
                        <h5 class="card-title">Comedouro</h5>
                        <p class="card-text">Comedouro alto para promover conforto digestivo</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../public/images/products/lenco_umedecido.jpg" alt="lenço umedecido">
                    <div class="card-body">
                        <h5 class="card-title">Lenço umedecido</h5>
                        <p class="card-text">Lencinho atóxico para limpeza do seu pet</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../public/images/products/petisco_Dentes.jpg"
                        alt="petisco para limpeza dos dentes">
                    <div class="card-body">
                        <h5 class="card-title">Petisco para limpeza dental</h5>
                        <p class="card-text">Promove saúde bucal e melhora a digestão</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../public/images/products/petisco_whiskas.jpg" alt="petisco Whiskas">
                    <div class="card-body">
                        <h5 class="card-title">Petisco Whiskas</h5>
                        <p class="card-text">Para agradar seu pet em momentos especiais</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../public/images/products/racao_para_gatos.jpg" alt="Ração">
                    <div class="card-body">
                        <h5 class="card-title">Ração Premium</h5>
                        <p class="card-text">Alimento de qualidade, com vitaminas e sais minerais</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="../public/images/products/Graminha_Ipet_Green_Digestive_Grass_para_Gatos_-_50_g_2319753_1.jpg"
                        alt="Ração">
                    <div class="card-body">
                        <h5 class="card-title">Graminha para gatos</h5>
                        <p class="card-text">Alimento natural para melhorar a digestão</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../public/images/products/arranhador.jpg" alt="Arranhador">
                    <div class="card-body">
                        <h5 class="card-title">Arranhador para gatos</h5>
                        <p class="card-text">Para entreter seu bichinho nas brincadeiras</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
                <br>
    </section>
    </div>

    <section id="historia">
        <h2>Nossa História</h2>
        <p>Saiba <a href="customerAboutUs.html">quem somos</a> e conheça nossa história.
    </section>

    <section id="depoimentos">
        <h2>Depoimentos</h2>
        <p>Conheça <a href="customerTestimonials.html">os depoimentos</a> dos nossos clientes.
    </section>

    <section id="contato">
        <h2>Contato</h2>
        <p>Endereço: Avenida Paulista, 2050</p>
        <p>E-mail: falecom@jujupetshop.com.br</p>
        <p>Telefone: (11) 1234-5678</p>
        <p>Envie também uma mensagem <a href="customerContactUs.html">pelo nosso formulário</a></p>
    </section>

    <br>
    <footer id="footer">
        <p>Copyright © 2023 Juju Petshop. Todos os direitos reservados.</p>
    </footer>

</body>

</html>