<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- head é o cabeçalho da página, onde contém informações como título da janela, da aba do navegador -->
    <title>Juju Petshop - Home</title>
    <meta charset="utf-8">
    <!-- meta define a codificação de caracteres da página-->
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css">

    <meta charset="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <img src="../public/images/branding/institutional/juju_logo.png" alt="logo do petshop com gatinha">

</head>

<title>Depoimentos</title>

<body>
    <nav>
        <ul>
            <li><a href="customerHome.html">Produtos</a></li>
            <li><a href="customerServices.html">Serviços</a> </li>
            <li><a href="customerAboutUs.html">Quem Somos</a></li>
            <li><a href="customerContactUs.html">Contato</a></li>
        </ul>
    </nav>

    <section>
        <h1>Juju Petshop - Clientes</h1>
        <h2><i>Cuidamos do seu bichinho como parte da nossa família</i></h2>
        <article>
            <img src="../public/images/customers/charlie.png" alt="charlie gatinho cliente">
            <p><i>Meu gatinho adora ir no Juju Petshop. Sempre volta cheirosinho e muito feliz!</i></p>
            <p><b>Mafalda, tutora do Charlie</b></p>
        </article>

        <article>
            <img src="../public/images/customers/patrick.png" alt="patrick gatinho cliente">
            <p><i>Sinto que meu gatinho é estimulado a brincar sempre que vai ao Juju Petshop. Ele está ainda mais
                    inteligente!</i></p>
            <p><b>Olga, tutora do Patrick</b></p>
        </article>

    </section>
    <br>
    <footer id="footer">
        <p>Copyright © 2023 Juju Petshop. Todos os direitos reservados.</p>
    </footer>

</body>

</html>